<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.web>
        <customErrors mode="RemoteOnly" defaultRedirect="/500.html">
            <error statusCode="403" redirect="/403.html" />
            <error statusCode="404" redirect="/404.html" />
        </customErrors>
        <compilation debug="false" targetFramework="4.0" />
        <httpRuntime maxRequestLength="4096" executionTimeout="110" requestValidationMode="2.0" />
        <sessionState mode="InProc" cookieless="false" timeout="20" />
        <authentication mode="Windows" />
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>

    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
        <httpErrors errorMode="Custom">
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
            <error statusCode="403" path="/403.html" responseMode="ExecuteURL" />
            <error statusCode="500" path="/500.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>

</configuration>
